= form_with(model: task, local: true) do |form|
  - if task.errors.any?
    #error_explanation
      %h2
        = pluralize(task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - task.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label "Zaman Tipi"
    = form.select :title , ["Yakın Vade", "Orta Vade", "Uzun Vade"]
  .field
    = form.label "Yorum"
    = form.text_area :description
  .row
    .field
      .row
        = form.label "Başlangıç Zamanı"
        = form.datetime_select :begin_time, class: "columns small-4"
  .field
    = form.label "Bitiş Zamanı"
    = form.datetime_select :deadline_time
  .actions
    = form.submit "Zaman Kaydını Oluştur"
