%p#notice= notice
%h1 Tasks
%table
  %thead
    %tr
      %th Title
      %th Description
      %th Begin time
      %th Deadline time
      %th User
      %th{:colspan => "3"}
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.title
        %td= task.description
        %td= task.begin_time
        %td= task.deadline_time
        %td= task.user_id
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Task', new_task_path
