%H1
%p
  %strong Zaman Kaydı Tipi:
  = @task.title
%p
  %strong Yorum:
  = @task.description
%p
  %strong Başlangıç Zamanı:
  = @task.begin_time.strftime("%k:%M %d.%m.%Y")
%p
  %strong Bitiş Zamanı:
  = @task.deadline_time.strftime("%k:%M %d.%m.%Y")
%p
= link_to 'Düzenle', edit_task_path(@task), class: "button"

= link_to 'Geri', tasks_path, class: "button"
