%h3 Giriş Yapınız
.row
  .columns.small-6
  .columns.small-6
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label "E-posta"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label "Şifre"
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label "Beni Hatırla"
      .actions
        = f.submit "Giriş Yap"
    = render "devise/shared/links"
